@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --mygray: 0 0% 80%;
    --primary: 184 72% 27%;
    --primary-title: 184 72% 27%;
    --primary-font: 184 72% 27%;

    --primary-active: 196 75% 22%;
    --bar-green: 172 56% 38% / 0.6;
    --bar-red: 0 51% 61% / 0.6;
    --bar-yellow: 45 77% 59% / 0.6;
    --heart: 0 61% 58%;
    --heart-hover: 0 79% 67%;

    --background: 0 0% 94%;

    --foreground: 0 0% 6.5%;

    --icon-hover: 0 0% 93%;

    --card: 0 0% 99.5%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 62.8% 40.6%;

    --destructive-foreground: 0 61% 48%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 15%;

    --foreground: 0 0% 93.5%;
    --primary-title: 0 0% 80%;
    --primary-font: 172 47% 76%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --icon-hover: 0 0% 20%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 42.8% 30.6%;

    --destructive-foreground: 0 100% 72%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-in {
    animation: enter 0.2s ease-out;
  }

  @keyframes enter {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .fade-in-0 {
    animation: fadeIn 0.2s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .zoom-in-95 {
    animation: zoomIn 0.2s ease-out;
  }

  @keyframes zoomIn {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }

  .duration-200 {
    animation-duration: 200ms;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.theme-toggle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
}

.theme-toggle-input {
  display: none;
}

.theme-toggle-icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms, color 200ms;
  line-height: 0.1;
  width: 20px;
  height: 20px;
}

.theme-toggle-icon--moon {
  /* color: #b4b4b4; */
}

.theme-toggle-icon--sun {
  /* color: #ffa500; */
  scale: 1.1;
}

/* Loading spinner */
.custom-loader {
  width: 41px;
  height: 41px;
  display: grid;
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, hsl(168 42% 64%) 92%, transparent);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}

.custom-loader::before {
  margin: 4px;
  --c: radial-gradient(farthest-side, hsl(var(--primary)) 92%, transparent);
  background-size: 7px 7px;
  animation-timing-function: linear;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}

/* Lingering line animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
